@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

body {
    background-color: #000000;
    color: #ffffff;

}
.content-wrapper {
    width: 100%;
    max-width: 900px;
    border: 1px solid #d29e38;
    margin: 0 auto;
    padding: 1px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

section {
    padding: 20px;
    padding-top: 0px;
    margin-top: 10px;
    padding-left: 13px;
    background-color: #222222;
    flex-grow: 1;
    font-family: "Roboto Slab";
    font-size: 16.5px;
    
}

.lähteet {
    font-size: 12.5px;
}

.tietoa-minusta {
    font-family: "Roboto Slab";
    font-size: 17px;
    padding: 20px;
    flex-grow: 1;
}

.quote {
    font-family: "Roboto Slab";
    font-size: 18px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

h1 {
    font-family: "Arizonia", cursive;
    font-size: 38px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-family: "Arizonia", cursive;
    font-size: 38px;
    padding-left: 10px;
    margin-bottom: 15px;
}

h3 {
    font-family: "SpartanMB-ExtraBold";
    font-size: 22px;
    margin-bottom: 13px;
}

h4 {
    font-size: 19px
}

h5 {
    font-size: 28px;
    font-family: "SpartanMB-ExtraBold";
    margin-top: 5px;
}

h6 {
    font-size: 18px;
}

.navbar-top ul, .navbar-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    border-left: 3px solid #d29e38;
    border-right: 3px solid #d29e38;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-top ul {
    border-top: 3px solid #d29e38;
    border-bottom: 2px solid #d29e38;
    text-align: center;
    padding: 19px 0;
    width: 100%;
}

.navbar-bottom ul {
    border-top: 1.5px solid #d29e38;
    border-bottom: 3px solid #d29e38;
    text-align: center;
    padding: 8px 0;
    justify-content: space-around;
    width: 100%
}

.navbar-top li, .navbar-bottom li {
    flex-grow: 1;
}

.navbar-top li a {
    color: #d29e38 !important;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-family: 'Acknowledgement';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 22px;
    display: inline;
    border: 1px solid transparent;
}

.navbar-bottom li a {
    color: white;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-family: 'Acknowledgement';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 20.5px;
    display: inline;
    border: 1px solid transparent;
}

.navbar-top li a.active {
    background-color: #000000;
    color: #d29e38 !important;
}

.navbar-bottom li a.active {
    background-color: #000000;
    color: white !important;
}

.navbar-top li a:hover {
    background-color: transparent;
    color: #d29e38 !important;
}

.navbar-bottom li a:hover {
    background-color: transparent;
    color: #d29e38 !important;
}

@font-face {
    font-family: 'Acknowledgement';
    src: url('fontit/Acknowledgement.woff2') format('woff2'),
         url('fontit/Acknowledgement.woff') format('woff'),
         url('fontit/Acknowledgement.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spartan MB';
    src: url('SpartanMB-ExtraBold.woff2') format('woff2'),
        url('SpartanMB-ExtraBold.woff') format('woff'),
        url('SpartanMB-ExtraBold.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
  font-family: "Roboto Slab";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
  }

#about-me-content-wrapper {
    width: 100%;
    max-width: 900px;
    border: 1px solid #d29e38;
    margin: 0 auto;
    padding: 0px;
    background-color: #222222;
    display: flex;
    flex-direction: column;   
    position: relative;
    overflow: hidden; 
}

#contact-me-content-wrapper {
    width: 100%;
    max-width: 900px;
    height: 800px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #d29e38;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.name-split {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-field {
    flex: 1;
    padding-right: 8px;
    padding-bottom: 40px;
}

.name-field:last-child {
    margin-right: 0;
}

#contact-me input[type="text"],
#contact-me textarea {
    width: 100%;
    height: 38px;
    font-size: 16px;
    font-family: "Roboto Slab";
    box-sizing: border-box;
}
#contact-me input[type="email"],
#contact-me textarea {
    width: 100%;
    padding: 10px 15px; 
    margin-bottom: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto Slab";
    background-color: #ffffff; 
    color: #000000;
}

#contact-me textarea {
    height: 160px; 
    width: 100%;
    font-size: 16px;
    font-family: "Roboto Slab";
    box-sizing: border-box;
}

.lähetä {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

#contact-me button[type="submit"] {
    background-color: black;
    color: white;
    border: 2px solid;
    border-color: #d29e38;
    width: 140px;
    height: 70px;
    padding: 10px;
    font-size: 20px;
    font-family: "SpartanMB-ExtraBold";
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-me button[type="submit"]:hover {
    background-color: #ffaa00;
}

.name-field label {
    display: block;
    margin-top: 5px;
}

